# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (VERY IMPORTANT)
.env
.env.*
!.env.example

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Build output (if using TS or transpiler)
dist/
build/

# OS & Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/